DOUBAO_API_URL=http://aigw.primeinnos.com/backend_seedream_cn/api/v3/contents/generations/tasks
DOUBAO_MODEL=doubao-seedance-2-0-260128
DOUBAO_API_TOKEN=

GEMINI_API_URL=http://aigw.primeinnos.com/marketing_center/v1/chat/completions
GEMINI_MODEL=gemini-3.1-pro-preview
GEMINI_API_TOKEN=

APIFY_API_TOKEN=

R2_ENDPOINT=https://a735435b6cf8bb51684485e2541e8cd2.r2.cloudflarestorage.com
R2_BUCKET=video-share-2026
R2_PUBLIC_BASE_URL=https://pub-5a97ce19576c4e2fbe50df2e8b452f2c.r2.dev
R2_REGION=auto
R2_ACCESS_KEY_ID=YOUR_R2_ACCESS_KEY_ID
R2_SECRET_ACCESS_KEY=YOUR_R2_SECRET_ACCESS_KEY
