DOUBAO_API_URL=http://aigw.primeinnos.com/backend_seedream_cn/api/v3/contents/generations/tasks
DOUBAO_MODEL=doubao-seedance-2-0-260128
DOUBAO_API_TOKEN=

GEMINI_API_URL=http://aigw.primeinnos.com/marketing_center/v1/chat/completions
GEMINI_MODEL=gemini-3.1-pro-preview
GEMINI_API_TOKEN=

APIFY_API_TOKEN=
